.navbar {
    position: relative;
    width: 60%;
    border-bottom-style: solid;
    border-color: #054979;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-ul {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .nav-list {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    list-style-type: none;
    font-size: 15px;
    padding: 10px 30px;
  } 
  
  .selected {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    list-style-type: none;
    font-size: 15px;
    padding: 10px 30px;
    background-color: #00a8ff;
    opacity: 60%;
  }

  
  .nav-links {
    text-decoration: none;
  } 