.logo {
    text-align: center;
}

.icon {
    display: flex;
    justify-content: center;
}

.image {
    height: 100px;
    width: 100px;
    margin: 30px 30px 10px 30px;
  }

.name {
  color: aquamarine;
  font-size: 10px;
}

a {
    text-decoration: none;
  }

  .end {
    font: 55px;
    color: aliceblue ;
    margin-right: 20px;
    margin-left: 20px;
  }

  .outer-footer {
    color: goldenrod;
    padding-top: 30px;
  }

  .inner-footer{
    margin-top: 50px;
  }

.footer {
    text-align: center;
}

  